
<style>
    .myButton{
        height: 2.5rem;
        background-color: #225; 
        color: white;
        font-size: 20px; 
        border: none; 
        border-radius: 10px; 
        margin-top: 5px;
    }
    .myButton:hover{
        background-color: white;
        color: #225;
        cursor: pointer;
        transform: scaleX(1.05);
        transform: scaleY(1.05);
    }
</style>

<nav style="background-color: #225;">
    <div style="display: flex; justify-content: space-around;">
        {%if request.user.is_authenticated%}
        <h3 style="color: white;">{{request.user.username}}</h3>
        {%endif%}
        <button class="myButton" onclick="location.href='/home'">home</button>
        <button class="myButton" onclick="location.href='profile'">profile</button>
        <button class="myButton" onclick="location.href='addModerator'">Add Moderator</button>
        <button class="myButton" onclick="location.href='viewData'">View Emotion Data</button>
        <button class="myButton" onclick="location.href='calendar'">Calendar</button>
        <button class="myButton" onclick="location.href='exportData'">Export Data</button>

        {%if request.user.is_authenticated%}
            <button class="myButton" onclick="location.href='/community/logout_user'">Log Out</button>
        {%else%}
            <button class="myButton" onclick="location.href='/community/login_user'">Log In</button>
        {%endif%}
    </div>
</nav>